.inputWrapper {
   display: flex;
   display: -webkit-flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: right;
   padding: 1.5625rem;
   min-height: 30vh;
   max-height: 30vh;
}

.inputWrapper > div:nth-child(1) {
   font-size: 1.75rem;
   color: #bbbbbb;
}

.App.night .inputWrapper > div:nth-child(1) {
   color: #787878;
}

.inputWrapper > div:nth-child(2) {
   font-size: 3.5rem;
   color: #474747;
   font-weight: 400;
}

.App.night .inputWrapper > div:nth-child(2) {
   color: #fcfcfc;
}

.grid-container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
       grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
   padding: 5px 15px;
 }
 
 .grid-container .grid-item {
   padding: 10px 15px;
   font-size: 25px;
   text-align: center;
   -webkit-box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.05);
   box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.05);
   border-radius: 15px;
   -ms-grid-column-align: center;
   justify-self: center;
   min-width: 55px;
 }

 .plusMinus {
   padding: 10px !important;
 }

 .App.night .grid-container .grid-item {
    background-color: #313131;
    color: #d3d3d3; 
    -webkit-box-shadow: none;
   box-shadow: none;
 }

 .App.night .grid-container .operand {
    background-color: transparent; 
    color: #8e8b8e;
 }

 .App.night .grid-container .operators {
    color: #dbdbdb;
 }