.operators {
   font-size: 1.5rem;
   color: #86d8b6;
   font-weight: bold;
   background: #eaf8f4;
   box-shadow: 0 1px 5px 1px rgba(234, 248, 244, .15) !important;
}

.equalTo {
   color: #d6394d !important;
   background: #f6dade;
   border-radius: 5px;
}

.App.night .equalTo {
   background-color: #6d6d6d !important;
   color: #e5e5e6 !important; 
}