.App {
  text-align: center;
  padding: 12px;
  min-height: 100vh;
  overflow: hidden;
}

.App.night {
  background: #181818;
}

.toggler > img {
  float: right;
  width: 1.5625em;
  height: auto;
}

.App.night .toggler {
  color: #dadada;
}

.controlWrapper {
  min-height: 60vh;
  max-height: 60vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}